<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sendCloudUtil" class="com.util.EmailUtil">
        <constructor-arg name="apiUser" value="bitcoiner_test_i3FYfv"></constructor-arg>
        <constructor-arg name="apiKey" value="4lgLxWykLAgajWzo"></constructor-arg>
        <constructor-arg name="subject" value="一封让你发财的邮件"></constructor-arg>
        <constructor-arg name="url" value="http://api.sendcloud.net/apiv2/mail/send"></constructor-arg>
    </bean>


</beans>